.spIcon-icon_jzy1{
    background-image: url("sprite.png");
    background-position: 0px 0px;
    width: 98px;
    height: 90px;
}
.spIcon-icon_jzy2{
    background-image: url("sprite.png");
    background-position: -103px 0px;
    width: 97px;
    height: 89px;
}
.spIcon-icon_jzy3{
    background-image: url("sprite.png");
    background-position: 0px -95px;
    width: 97px;
    height: 89px;
}
.spIcon-icon_jzy4{
    background-image: url("sprite.png");
    background-position: -102px -95px;
    width: 97px;
    height: 89px;
}
